# the upstream component nginx needs to connect to
upstream ideascube {
    server unix:///IDCsocket/ideascube.sock;
}

# configuration of the server
server {
    listen       80;
    server_name  {{project_domain_name}};
    charset     utf-8;

    # max upload size
    client_max_body_size 500M;

    # Django media
    location /media/  {
        alias /var/ideascube/main/media/;
        expires 1y;
    }

    location /static/ {
        alias /var/ideascube/static/;
        expires 1y;
    }

    location ~ /.*/jsi18n/ {
        uwsgi_pass ideascube;
        include /var/ideascube/uwsgi_params;
        expires 1y;
    }

    # Finally, send all non-media requests to the Django server.
    location / {
        uwsgi_pass  ideascube;
        include     /var/ideascube/uwsgi_params;
    }
}

server {
    listen 80;

    server_name sites.{{project_domain_name}};

    charset utf-8;

    root /var/ideascube/nginx/;
}
