127.0.0.1   localhost
fe00::0     ip6-localnet
ff00::0     ip6-mcastprefix
ff02::1     ip6-allnodes
192.168.123.1 {{ project_domain_name }} kiwix.{{ project_domain_name }} kolibri.{{ project_domain_name }} sites.{{ project_domain_name }} bsfcampus.{{ project_domain_name }}
