127.0.0.1   localhost
fe00::0     ip6-localnet
ff00::0     ip6-mcastprefix
ff02::1     ip6-allnodes
192.168.1.1 {{ project_type }} kiwix.{{ project_type }} kolibri.{{ project_type }} sites.{{ project_type }} bsfcampus.{{ project_type }}
